In [1]:
import pandas as pd

In [11]:
flight = pd.read_csv('flightlist_20200101_20200131.csv')
flight.drop(columns=['callsign', 'number', 'icao24', 'registration', 'typecode'], inplace=True)
flight

,origin,destination,firstseen,lastseen,day
0,NaN,NaN,2019-12-31 00:19:47+00:00,2020-01-01 13:27:28+00:00,2020-01-01 00:00:00+00:00
1,NaN,LTBW,2019-12-31 00:25:26+00:00,2020-01-01 07:48:41+00:00,2020-01-01 00:00:00+00:00
2,YMML,YSSY,2019-12-31 01:08:54+00:00,2020-01-01 01:45:29+00:00,2020-01-01 00:00:00+00:00
3,YSSY,EHAM,2019-12-31 01:29:25+00:00,2020-01-01 04:08:28+00:00,2020-01-01 00:00:00+00:00
4,KLAS,NaN,2019-12-31 02:23:05+00:00,2020-01-01 08:52:18+00:00,2020-01-01 00:00:00+00:00
...,...,...,...,...,...
1519098,VOMM,NaN,2020-01-31 23:44:05+00:00,2020-01-31 23:58:58+00:00,2020-01-31 00:00:00+00:00
1519099,NaN,SKBO,2020-01-31 23:44:11+00:00,2020-01-31 23:57:20+00:00,2020-01-31 00:00:00+00:00
1519100,KCLT,NaN,2020-01-31 23:44:16+00:00,2020-01-31 23:54:48+00:00,2020-01-31 00:00:00+00:00
1519101,NaN,YPAD,2020-01-31 23:46:09+00:00,2020-01-31 23:57:35+00:00,2020-01-31 00:00:00+00:00
1519102,KTPA,52FA,2020-01-31 23:46:24+00:00,2020-01-31 23:59:17+00:00,2020-01-31 00:00:00+00:00

In [3]:
airports = pd.read_csv('airports.dat', names=['Airport ID', 'Name', 'City', 'Country', 'IATA', 'ICAO', 'Latitude', 'Longitude', 'Altitude', 'Timezone', 'DST', 'Tz database time zone', 'Type', 'Source'])
airports.drop(columns = ['Airport ID', 'Name', 'City', 'Country', 'IATA', 'Altitude', 'Timezone', 'DST', 'Tz database time zone', 'Type', 'Source'], inplace=True)
# airports

In [4]:
airports['Coordinates'] = pd.Series(zip(airports['Latitude'], airports['Longitude']))

In [5]:
airports.head()

   ICAO  Latitude   Longitude                               Coordinates
0  AYGA -6.081690  145.391998      (-6.0816898345900015, 145.391998291)
1  AYMD -5.207080  145.789001           (-5.20707988739, 145.789001465)
2  AYMH -5.826790  144.296005  (-5.826789855957031, 144.29600524902344)
3  AYNZ -6.569803  146.725977                   (-6.569803, 146.725977)
4  AYPY -9.443380  147.220001  (-9.443380355834961, 147.22000122070312)

In [21]:
airports.to_csv('airports.csv')

In [12]:
data = pd.merge(left=flight, right=airports, left_on='origin', right_on='ICAO')

In [13]:
data

,origin,destination,firstseen,lastseen,day,ICAO,Latitude,Longitude,Coordinates
0,YMML,YSSY,2019-12-31 01:08:54+00:00,2020-01-01 01:45:29+00:00,2020-01-01 00:00:00+00:00,YMML,-37.673302,144.843002,"(-37.673302, 144.843002)"
1,YMML,LIRF,2019-12-31 11:32:13+00:00,2020-01-01 16:35:24+00:00,2020-01-01 00:00:00+00:00,YMML,-37.673302,144.843002,"(-37.673302, 144.843002)"
2,YMML,VHHH,2019-12-31 13:30:35+00:00,2020-01-01 06:29:55+00:00,2020-01-01 00:00:00+00:00,YMML,-37.673302,144.843002,"(-37.673302, 144.843002)"
3,YMML,YPPH,2019-12-31 20:17:54+00:00,2020-01-01 00:02:51+00:00,2020-01-01 00:00:00+00:00,YMML,-37.673302,144.843002,"(-37.673302, 144.843002)"
4,YMML,WMKK,2019-12-31 20:56:04+00:00,2020-01-01 07:26:43+00:00,2020-01-01 00:00:00+00:00,YMML,-37.673302,144.843002,"(-37.673302, 144.843002)"
...,...,...,...,...,...,...,...,...,...
1091246,LFRH,LFPG,2020-01-30 13:23:45+00:00,2020-01-30 14:21:24+00:00,2020-01-30 00:00:00+00:00,LFRH,47.760601,-3.440000,"(47.76060104370117, -3.440000057220459)"
1091247,KHAF,KSDL,2020-01-31 00:00:03+00:00,2020-01-31 01:34:56+00:00,2020-01-31 00:00:00+00:00,KHAF,37.513401,-122.500999,"(37.5134010315, -122.500999451)"
1091248,KCLW,KTPA,2020-01-31 00:00:04+00:00,2020-01-31 00:10:27+00:00,2020-01-31 00:00:00+00:00,KCLW,27.976700,-82.758698,"(27.9766998291, -82.7586975098)"
1091249,YMRY,YSSY,2020-01-31 00:11:45+00:00,2020-01-31 00:57:20+00:00,2020-01-31 00:00:00+00:00,YMRY,-35.897800,150.143997,"(-35.8978004456, 150.143997192)"
1091250,KEVV,KDFW,2020-01-31 13:21:01+00:00,2020-01-31 15:04:54+00:00,2020-01-31 00:00:00+00:00,KEVV,38.036999,-87.532402,"(38.0369987488, -87.53240203860001)"

In [16]:
data.rename(columns={'Latitude': 'Latitude1', 'Longitude': 'Longitude1'}, inplace=True)

In [18]:
datas = pd.merge(left=data, right=airports, left_on='destination', right_on='ICAO')

In [20]:
datas.to_csv('datas.csv')